<%- include('../../partials/head') %>
<%- include('../../partials/header') %>
<main class="bg-light text-center">
  <h1 class="text-center py-4">User List</h1>
  <a class="btn btn-primary mb-4" href="/backoffice/user-create" role="button">Create User</a>
  <div>
    <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
    <% } %>
    <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
  </div>
  <div class="table-responsive mx-4">
    <table class="table mb-0 table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Last name</th>
          <th scope="col">First name</th>
          <th scope="col">User's username</th>
          <th scope="col">Email</th>
          <th scope="col">Role</th>
          <th scope="col">Détails</th>
          <th scope="col">Modifier</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach((user)=> { %>
        <tr>
          <th scope="row"><%= user.id %></th>
          <td><%= user.lastname %></td>
          <td><%= user.firstname %></td>
          <td><%= user.username %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><a class="btn btn-primary" href="/backoffice/user-details/<%= user.id %>" role="button">Details</a></td>
          <td><a class="btn btn-primary" href="/backoffice/user-update/<%= user.id %>" role="button">Update</a></td>
          <td>
            <form action="/backoffice/user-delete/<%= user.id %>" method="POST">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>
<%- include('../../partials/footer') %>