<%- include('../../partials/head') %>
<%- include('../../partials/header') %>
<main class="bg-light">
  <h1 class="text-center py-4">Update user</h1>
  <div>
    <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
    <% } %>
    <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
  </div>
  <form class="px-4" action="/backoffice/user-update/<%= user.id %>" method="POST">
    <div class="form-group mb-4">
      <label for="lastname" class="mb-2">Last Name</label>
      <input type="text" class="form-control" id="lastname" value="<%= user.lastname %>" name="lastname" required>
    </div>
    <div class="form-group mb-4">
      <label for="firstname" class="mb-2">First Name</label>
      <input type="text" class="form-control" id="firstname" value="<%= user.firstname %>" name="firstname" required>
    </div>
    <div class="form-group mb-4">
      <label for="username" class="mb-2">Username</label>
      <input type="text" class="form-control" id="username" value="<%= user.username %>" name="username" required>
    </div>
    <div class="form-group mb-4">
      <label for="email" class="mb-2">Email address</label>
      <input type="email" class="form-control" id="email" value="<%= user.email %>" name="email" required>
    </div>
    <div class="form-group mb-4">
      <label for="role" class="mb-2">Select Role</label>
      <select class="form-control" id="role" name="role">
        <option <%= user.role === 'Guest' ? 'selected' : '' %>>Guest</option>
        <option <%= user.role === 'Manager' ? 'selected' : '' %>>Manager</option>
        <option <%= user.role === 'Admin' ? 'selected' : '' %>>Admin</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mb-4">Submit</button>
  </form>
</main>
<%- include('../../partials/footer') %>