<%- include('../../partials/head') %>
<%- include('../../partials/header') %>
<main class="bg-light text-center">
  <h1 class="text-center py-4">Activity List</h1>
  <a class="btn btn-primary mb-4" href="/backoffice/activity-create" role="button">Create activity</a>
  <div class="table-responsive mx-4 mb-4">
    <table class="table mb-0 table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Name</th>
          <th scope="col">Location</th>
          <th scope="col">Description</th>
          <th scope="col">Price</th>
          <th scope="col">Image</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Duration</th>
          <th scope="col">Détails</th>
          <th scope="col">Modifier</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <% activities.forEach((activity)=> { %>
        <tr>
          <th scope="row"><%= activity.id %></th>
          <td><%= activity.name %></td>
          <td><%= activity.location %></td>
          <td><%= activity.description %></td>
          <td><%= activity.price %>€</td>
          <td><img src="<%= activity.image %>"></td>
          <td><%= activity.start_date.toLocaleString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %>h</td>
          <td><%= activity.end_date.toLocaleString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %>h</td>
          <td><%= activity.duration %></td>
          <td><a class="btn btn-primary" href="/backoffice/activity-details/<%= activity.id %>" role="button">Details</a></td>
          <td><a class="btn btn-primary" href="/backoffice/activity-update/<%= activity.id %>" role="button">Update</a></td>
          <td>
            <form action="/backoffice/activity-delete/<%= activity.id %>" method="POST">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>
<%- include('../../partials/footer') %>