<%- include('../../partials/head') %>
<%- include('../../partials/header') %>
<main class="bg-light text-center">
  <h1 class="text-center py-4">Review List</h1>
  <a class="btn btn-primary mb-4" href="/backoffice/review-create" role="button">Create Review</a>
  <div>
    <% if (success && success.length > 0) { %>
    <div class="alert alert-success" role="alert">
      <%= success %>
    </div>
    <% } %>
    <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
      <%= error %>
    </div>
    <% } %>
  </div>
  <div class="table-responsive mx-4">
    <table class="table mb-0 table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Content</th>
          <th scope="col">Published Date</th>
          <th scope="col">User's first name</th>
          <th scope="col">User's last name</th>
          <th scope="col">User's username</th>
          <th scope="col">Hotel name</th>
          <th scope="col">Airline</th>
          <th scope="col">Activity Name</th>
          <th scope="col">Détails</th>
          <th scope="col">Modifier</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <% reviews.forEach((review)=> { %>
        <tr>
          <th scope="row"><%= review.id %></th>
          <td><%= review.content %></td>
          <td><%= review.published_date.toLocaleString('fr-FR', { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: 'numeric', minute: 'numeric' }) %>h</td>
          <td><%= review.user_firstname %></td>
          <td><%= review.user_lastname %></td>
          <td><%= review.username %></td>
          <td><%= review.hotel_name || '/' %></td>
          <td><%= review.airline || '/' %></td>
          <td><%= review.activity_name || '/' %></td>
          <td><a class="btn btn-primary" href="/backoffice/review-details/<%= review.id %>" role="button">Details</a></td>
          <td><a class="btn btn-primary" href="/backoffice/review-update/<%= review.id %>" role="button">Update</a></td>
          <td>
            <form action="/backoffice/review-delete/<%= review.id %>" method="POST">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>
<%- include('../../partials/footer') %>