<%- include('../../partials/head') %>
<%- include('../../partials/header') %>
<main class="bg-light text-center">
  <h1 class="text-center py-4">rate List</h1>
  <a class="btn btn-primary mb-4" href="#" role="button">Créate rate</a>
  <div class="table-responsive mx-4">
    <table class="table mb-0 table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">id</th>
          <th scope="col">Rating</th>
          <th scope="col">User's Last name</th>
          <th scope="col">User's First name</th>
          <th scope="col">Hotel name</th>
          <th scope="col">Activity Name</th>
          <th scope="col">Airline</th>
          <th scope="col">Détails</th>
          <th scope="col">Modifier</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <% rates.forEach((rate)=> { %>
        <tr>
          <th scope="row"><%= rate.id %></th>
          <td><%= rate.rating %>/5</td>
          <td><%= rate.firstname %></td>
          <td><%= rate.lastname %></td>
          <td><%= rate.hotel_name || '/' %></td>
          <td><%= rate.activity_name || '/' %></td>
          <td><%= rate.airline || '/' %></td>
          <td><a class="btn btn-primary" href="/backoffice/rate-details/<%= rate.id %>" role="button">Details</a></td>
          <td><a class="btn btn-primary" href="/backoffice/rate-update/<%= rate.id %>" role="button">Update</a></td>
          <td>
            <form action="/backoffice/rate-delete/<%= rate.id %>" method="POST">
              <button type="submit" class="btn btn-primary">Delete</button>
            </form>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</main>
<%- include('../../partials/footer') %>